<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel='stylesheet' href="/Content/app.css" />
    <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
    <title>< Bookkeeper ></title>
  </head>
  <body>
    <header>
        <!--NavBar-->
        <nav class="navbar navbar-expand-lg custom-navbar">
            <div class="container-fluid">
                <a class="navbar-brand custom-navbar-title" href="/">BOOKKEEPER</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                         <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/books">My Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ratings">Ratings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        <li class="nav-item">
                            <a class="nav-link" href="/book-list">Browse Books</a>
                        </li>
                </div>
            </div>
        </nav>
    </header>
    <section class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2>About Bookkeeper</h2>
                <p>Welcome to our bookkeeper application, the best place to review your favourite books.</p>
            </div>
        </div>
    </section>

    
    <footer class = "custom-footer text-dark text-center py-3 mt-4">
        <p>&copy; 2024 Bookkeeper. All Rights Reserved.</p>
  
</body>
</html>