<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/header'); %>
    <main class="container">
        <h1>Welcome to Bookkeeper</h1>
        <p>This is the home page.</p>
    </main>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>