<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> <!--char encoding-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--responsive to mobile devices-->
  <title><%= title %></title> <!--title of page-->

  <!--CSS files-->
  <link rel='stylesheet' href="/Content/app.css" />
  <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
      <header>
        <!--NavBar-->
        <nav class="navbar navbar-expand-lg custom-navbar">
            <div class="container-fluid">
                <a class="navbar-brand custom-navbar-title" href="/">BOOKKEEPER</a> <!--link to homepage-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                         <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/books">My Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ratings">Ratings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                         <li class="nav-item">
                            <a class="nav-link" href="/book-list">Browse Books</a>
                        </li>
                </div>
            </div>
        </nav>
    </header>

<!--Hero Section -->
    <div class="jumbotron text-center mt-4">
      <div class="block">
        <h1 class="display-4">Welcome to Bookkeeper!</h1>
        <p class="lead">Track your books and reviews.</p>
        <a class="btn btn-primary btn-lg" href="/book-list" role="button">Browse Books</a>
      </div>
    </div>

     <footer id="footer"  class="bg-light text-center py-3">
      <div class="container">
          <div class="logo">
            <h2><span>Thanks For Visiting!</span></h2>
            <p>You can reach me at...</p>
          </div>
          <h3>safa.rahman2@ontariotechu.net</h3>
          <p>Copyright &copy; <%= new Date().getFullYear() %> Bookkeeper. All Rights Reserved.</p>
      </div>
    </footer>
</body>
</html>
  

